.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  width: 600px;
  min-height: 500px;
  margin: auto;
}

.emoticons {
  display: flex;
}
.reaction {
  min-width: 50px;
  padding: 10px;
  margin: 10px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
